{%extends 'base.html' %}
{% block content %}
<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to ML Arena!</h1>
  <p class="lead"> Host your own AI games in one, convenient place </p>
  <hr class="my-4"> 
  <p> Upload custom games, animations, and bots that our run on our servers. <br/> Log in or sign up to get started! </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
    <a class="btn btn-secondary btn-lg" href="#" role="button">Log In</a>
  </p>
</div>
{% endblock %}
