{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content%}
<div style="margin-left:20px;">
  <br/>
  <h3 class="display-4"> Create New Bot for {{game.name}} </h3>
  <p class="lead" style="margin-left:10px"> Specify a name and code file for your bot </p>
  <hr class="my-4" style="max-width:95%">
  <div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
	<div class="input-field col" style="max-width:500px">
	  <label for="name">Name</label>
	  {% render_field form.name class+="form-control" %}
	</div>
      </div>
      <br/>
      <div class="row">
	<div class="input-field col" style="max-width:750px">
	  {% render_field form.file %}
	</div>
      </div>
      <br/>
      <input class="btn btn-info" type="submit" value="Submit">
    </form>
  </div>
</div>
{%endblock%}
