{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content%}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'games/style.css' %}">
<div class="container" id="temp">
  <div class="form" style="padding:10px; margin:10px;">
    <form method="post">
        {% csrf_token %}
        <div class="row">
          {% render_field form.name placeholder="Name" %}
        </div>
        <div class="row">
          {% render_field form.desc placeholder="Description" %}
        </div>
        <div class="row">
          {% render_field form.file %}
        </div>
        <!-- {{ form.as_p }} -->
        <input type="submit" value="Submit">
    </form>
  </div>

</div>
{%endblock%}
